{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        BSA International Airport | {% block title %} {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'airport_app/MDB/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'airport_app/MDB/css/mdb.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'airport_app/MDB/css/style.css' %}">

</head>

<body>

    <header class="text-center ">
        <nav>
            <label class="navlabel" for="toggle">
                                 &#9776;
                                
                                </label>
            <input type="checkbox" id="toggle">

            <div class="nav-links">
                <div> <a href="{% url 'home' %}">Home</a></div>
                <div> <a href="{% url 'view_flights' %}">View Flights</a></div>
                <div><a href="{% url 'admin:index' %}">Login as Admin</a></div>




        </nav>


        <h1 style="font-size: 3rem;">BSA International Airport</h1>
        <p>Have A Safe Journey</p>
    </header>

    {% block body %} {% endblock body %}

</body>

</html>